.hyperlink-strikethrough .text {
	-fx-strikethrough: true;
}

#background-logger.text-area
{
	-fx-background-color: transparent;
	-fx-font-family: 'Consolas', monospace;
	-fx-font-weight: bold;
	-fx-text-fill: lime;
}

#background-logger.text-area .viewport,
#background-logger.text-area .content,
#background-logger.text-area .scroll-pane,
#background-logger.text-area .scroll-bar,
#background-logger.text-area .scroll-bar .track,
#background-logger.text-area .corner
{
	-fx-background-color: transparent;
}

#background-logger.text-area .scroll-bar .thumb,
#background-logger.text-area .scroll-bar .increment-arrow,
#background-logger.text-area .scroll-bar .decrement-arrow
{
	-fx-opacity: 0.5;
}

#jvm-list.list-view,
#jvm-list.list-view .list-cell
{
	-fx-background-color: transparent;
	-fx-font-family: 'Consolas', monospace;
	-fx-font-weight: bold;
	-fx-text-fill: lime;
}

#jvm-list.list-view:focused .list-cell:filled:selected, .list-view:filled:selected:focused {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-opacity: 0.9;
}

#jvm-list.list-view .viewport,
#jvm-list.list-view .content,
#jvm-list.list-view .scroll-pane,
#jvm-list.list-view .scroll-bar,
#jvm-list.list-view .scroll-bar .track,
#jvm-list.list-view .corner
{
	-fx-background-color: transparent;
}

#jvm-list.list-view .scroll-bar .thumb,
#jvm-list.list-view .scroll-bar .increment-arrow,
#jvm-list.list-view .scroll-bar .decrement-arrow
{
	-fx-opacity: 0.5;
}

#read-only-field.text-field {
	-fx-background-color:
		rgba(0, 0, 0, 0.75),
		rgba(255, 255, 255, 0.75),
		linear-gradient(to bottom, lightgrey 0%, gainsboro 100%);
	-fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}
