.hyperlink-strikethrough .text {
	-fx-strikethrough: true;
}

#background-logger.text-area
{
	-fx-background-color: transparent;
	-fx-font-family: 'Consolas', monospace;
	-fx-font-weight: bold;
	-fx-text-fill: lime;
}

#background-logger.text-area .viewport,
#background-logger.text-area .content,
#background-logger.text-area .scroll-pane,
#background-logger.text-area .scroll-bar,
#background-logger.text-area .scroll-bar .track,
#background-logger.text-area .corner
{
	-fx-background-color: transparent;
}

#background-logger.text-area .scroll-bar .thumb,
#background-logger.text-area .scroll-bar .increment-arrow,
#background-logger.text-area .scroll-bar .decrement-arrow
{
	-fx-opacity: 0.5;
}

#jvm-list-view.list-view,
#jvm-list-view.list-view .cell
{
	-fx-background-color: transparent;
	-fx-font-family: 'Consolas', monospace;
	-fx-font-weight: bold;
	-fx-text-fill: lime;
}

#jvm-list-view.list-view .viewport,
#jvm-list-view.list-view .content,
#jvm-list-view.list-view .scroll-pane,
#jvm-list-view.list-view .scroll-bar,
#jvm-list-view.list-view .scroll-bar .track,
#jvm-list-view.list-view .corner
{
	-fx-background-color: transparent;
}

#jvm-list-view.list-view .scroll-bar .thumb,
#jvm-list-view.list-view .scroll-bar .increment-arrow,
#jvm-list-view.list-view .scroll-bar .decrement-arrow
{
	-fx-opacity: 0.5;
}
